/*style body*/

 h1 {
	color: orange;
	text-align: center;
	font-family: "lucida console", serif;
	padding-top: 50px;
	padding-bottom: 50px;
}
body {
	background-color: black;
	color: white;
}
.container{
	font-size: 40px;
}
.main-container{
	border-style: dotted;
	padding: 18px;
	margin-left: 400px;
	display: inline-block;

}
.sub-container{
	float: right;
	font-style: italic;
	font-size: 30px;
	border-style: dotted;
	padding: 10px;
	margin-right: 361px;
	text-align: center;


}